.example-container {
  height: 100%;
  margin: 0px;
  border: 1px solid #555;
}

.link-list {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;

  .mat-list-item {
    font-size: large;
  }
}