:host {
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 24px;
//  background: red;
}


.item {
//  background: #0bd;
  color: black;
  margin:10px;
  padding:10px;
  text-align:center;
  width: 30%;
  // width: 100px;
}

.container {
//  background: yellow;
  display: flex;
  flex-direction: column;
//  width: 100%;
  align-items: center;
  justify-content: center;
  // margin:50px;
  // padding:10px;

}

.login-text {
  width: 100%;
  justify-content: center;
//  align-items: right;
//  text-align:center;
//  height: 100px;

}

.link {
  width: 100%;
  justify-content: left;
  align-items: left;
  text-align:left;
//  height: 100px;

}

.button {
  width: 200px;


}