<div class="title">
    <h1> <b>ログイン</b> </h1>
</div>

<div class="container">
    <mat-form-field appearance="fill">
        <mat-label>ユーザID</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>パスワード</mat-label>
        <input matInput type="password">
    </mat-form-field>

    <div class="userregister">
        <a routerLink="/userregister">ユーザ登録はこちら</a>
    </div>

    <button mat-raised-button color="primary" routerLink="/details/1" class="button">ログイン</button>
</div>








<!-- <mat-grid-list cols="8" rowHeight="2:1">
    <mat-grid-tile [colspan]="8">
        <h1>
            <b>ログイン</b>
        </h1>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="8" rowHeight="3:1">
    <mat-grid-tile [colspan]="4">
        <mat-form-field class="login-text" appearance="fill">
            <mat-label>ユーザID</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4">
        <mat-form-field class="login-text" appearance="fill">
            <mat-label>パスワード</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="8">
        <button mat-raised-button class="search-button" color="primary">ログイン</button>
    </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider> -->