:host {
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 24px;
}

.item {
  color: black;
  padding:10px;
  text-align:center;
  width: 30%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left:30%;
  margin-right:30%;

  row-gap: 8px;

  .mat-form-field {
    width: 90%;
  } 

  .userregister {
    display: flex;
    flex-direction: row;
  }
  
}

.button {
  width: 200px;


}