<div class="main">
    <div class="title">
        <h1> <b>ユーザ登録申請</b> </h1>
    </div>
    <mat-list class="basic-info">
        <div mat-subheader>
            基本情報
        </div>
        <mat-divider></mat-divider>
        <h2>姓</h2>
        <div class="item">
            <mat-form-field appearance="fill" class="input-text">
                <mat-label></mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <!-- <div mat-line></div> -->
        <h2>名</h2>
        <div class="item">
            <mat-form-field appearance="fill" class="input-text">
                <mat-label></mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <!-- <div mat-line></div> -->
        <h2>メールアドレス</h2>
        <div class="item">
            <mat-form-field appearance="fill" class="input-text">
                <mat-label></mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <h2>社員番号</h2>
        <div class="item">
            <mat-form-field appearance="fill" class="input-text">
                <mat-label></mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <h2>会社名</h2>
        <div class="item">
            <mat-form-field appearance="fill" class="input-text">
                <mat-label></mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <h2>部署</h2>
        <div class="item">
            <mat-form-field appearance="fill" class="input-text">
                <mat-label></mat-label>
                <input matInput>
            </mat-form-field>
        </div>

    </mat-list>
    <mat-list>
        <div mat-subheader>
            アカウント情報
        </div>
        <mat-divider></mat-divider>

        <h2>アカウントID</h2>
        <div class="item">
            <mat-form-field appearance="fill" class="input-text">
                <mat-label></mat-label>
                <input matInput>
            </mat-form-field>
        </div>

    </mat-list>

    <div class="button-area">
        <button mat-raised-button color="primary" routerLink="/confirm">登録</button>
    </div>

</div>