:host {
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 24px;
}

.mat-subheader {
    padding-top:48px;
    padding-left: 0;
    font-size: x-large;
    
}


h2 {
    margin-bottom:0;
    margin-top:24px;
}

.input-text {
   width: 70%;
   height: 20px;
    // width: 1000px;
  //  align-items: right;
  //  text-align:center;
  //  height: 100px;
  
  }

.item {
//   background: #0bd;
    color: black;
    height: 40px;
    // margin:10px;
    // padding:10px;
    // width: 30%;
    // width: 100px;
}

.button-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
    gap: 24px;

    .mat-raised-button {
        width: 20%;
    }
}
    