<mat-grid-list cols="8" rowHeight="2:1">
    <mat-grid-tile [colspan]="8">
        <h1>
            <b>申請一覧</b>
        </h1>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="8" rowHeight="3:1">
    <mat-grid-tile [colspan]="4">
        <mat-form-field class="input-name" appearance="fill">
            <mat-label>姓</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4">
        <mat-form-field class="input-name" appearance="fill">
            <mat-label>名</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8">
        <mat-form-field class="input-number" appearance="fill">
            <mat-label>社員番号</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="8">
        <button mat-raised-button class="search-button" color="primary">検索</button>
    </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list cols="8" rowHeight="140px" *ngFor="let application of applicationList">
    <mat-grid-tile [colspan]="8">
        <mat-card (click)="onCardClick(application)" matRipple class="clickable">
            <mat-card-title>{{application.name.lastname}}{{application.name.firstname}}</mat-card-title>
            <mat-card-subtitle>{{application.employeeNum}}</mat-card-subtitle>
            <mat-card-subtitle>{{application.mail}}</mat-card-subtitle>
            <mat-card-subtitle>{{application.category | category}}</mat-card-subtitle>
            <mat-card-footer align="end">{{application.date}}</mat-card-footer>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>