<!-- <div fxLayout="column">
    <div fxFlex="10%" style="background-color: blue; color: white" fxLayoutAlign="center center">
        <h1>
            <b>申請一覧</b>
        </h1>
    </div>
    <div fxFlex="50%" style="background-color: bisque" fxLayoutAlign="center center">ここに検索フォーム</div>
    <div fxFlex="40%" style="background-color: darkseagreen" fxLayoutAlign="center center">結果</div>
</div> -->

<mat-grid-list cols="8" rowHeight="2:1">
    <mat-grid-tile [colspan]="8">
        <h1>
            <b>申請一覧</b>
        </h1>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="8" rowHeight="3:1">
    <mat-grid-tile [colspan]="4">
        <mat-form-field class="input-name" appearance="fill">
            <mat-label>姓</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4">
        <mat-form-field class="input-name" appearance="fill">
            <mat-label>名</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8">
        <mat-form-field class="input-number" appearance="fill">
            <mat-label>社員番号</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="8">
        <button mat-raised-button class="search-button" color="primary">検索</button>
    </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-grid-list cols="8" rowHeight="140px">
    <mat-grid-tile [colspan]="8">
        <mat-card>
            <mat-card-title>#野村　太郎</mat-card-title>
            <mat-card-subtitle>社員番号</mat-card-subtitle>
            <mat-card-subtitle>メールアドレス</mat-card-subtitle>
            <mat-card-subtitle>申請種別</mat-card-subtitle>
            <mat-card-footer align="end">#1時間前</mat-card-footer>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8">
        <mat-card>
            <mat-card-title>#野村　太郎</mat-card-title>
            <mat-card-subtitle>社員番号</mat-card-subtitle>
            <mat-card-subtitle>メールアドレス</mat-card-subtitle>
            <mat-card-subtitle>申請種別</mat-card-subtitle>
            <mat-card-footer align="end">#1時間前</mat-card-footer>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8">
        <mat-card>
            <mat-card-title>#野村　太郎</mat-card-title>
            <mat-card-subtitle>社員番号</mat-card-subtitle>
            <mat-card-subtitle>メールアドレス</mat-card-subtitle>
            <mat-card-subtitle>申請種別</mat-card-subtitle>
            <mat-card-footer align="end">#1時間前</mat-card-footer>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8">
        <mat-card>
            <mat-card-title>#野村　太郎</mat-card-title>
            <mat-card-subtitle>社員番号</mat-card-subtitle>
            <mat-card-subtitle>メールアドレス</mat-card-subtitle>
            <mat-card-subtitle>申請種別</mat-card-subtitle>
            <mat-card-footer align="end">#1時間前</mat-card-footer>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>