mat-form-field.input-name {
    width: 70%;
}

mat-form-field.input-number {
    width: 85%;
}

mat-card {
    width: 82%;
}

.search-button {
    width:15%;
}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
    display: block;
    margin-bottom: 0;
}
